/*Start of Footer*/
.body-wrapper .footer-wrapper footer {
    background-color: rgb(42, 42, 42);
    clear: both;
    display: block;
}

.body-wrapper .footer-wrapper footer .inner {
    display: block;
    margin: 0 auto;
    padding: 37px 0px 30px 10px;
    position: relative;
    text-align: center;
    max-width: 1170px;
}

.body-wrapper .footer-wrapper footer .inner .header1 {
    color: rgb(224, 224, 224);
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.body-wrapper .footer-wrapper footer .inner .subHeader {
    color: rgb(190, 190, 190);
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.body-wrapper .footer-wrapper footer .inner .contacts {
    font-size: 14px;
    font-weight: 400;
    color: rgb(190, 190, 190);
}

.body-wrapper .footer-wrapper footer .inner .contacts .contact {
    display: inline;
    padding-right: 20px;
}

.body-wrapper .footer-wrapper footer .inner .contacts .contact i {
    color: rgb(255, 103, 96);
}

.body-wrapper .footer-wrapper footer .inner .contacts .contact a {
    color: rgb(190, 190, 190);


    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in;
    text-decoration: none;
}

/*unvisited link*/
.body-wrapper .footer-wrapper footer .inner .contacts .contact a:link {
    text-decoration: none;
}   

/*visited link*/
.body-wrapper .footer-wrapper footer .inner .contacts .contact a:visited {
    text-decoration: none;
}   

/*mouse over link*/
.body-wrapper .footer-wrapper footer .inner .contacts .contact a:hover {
    text-decoration: none;
    color: rgb(255,103, 96);
}    

.body-wrapper .footer-wrapper footer .inner .socSetiLogos {
    margin-top: 25px;
}

.body-wrapper .footer-wrapper footer .inner .socSetiLogos .socSetiLogotip a i {
    color: rgb(255,255,255);
    background-color: rgb(93, 174, 213);
    height: 32px;
    width: 32px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;

    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;   
}

.body-wrapper .footer-wrapper footer .inner .socSetiLogos .socSetiLogotip a img {
    height: 32px;
    width: 32px;

    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;

    display: inline-block;
    vertical-align: bottom;

    margin-left: 5px;

}

.body-wrapper .footer-wrapper footer .inner .socSetiLogotip a:hover i {
    background-color: rgb(14, 132, 181);
    text-decoration: none;
}

.body-wrapper .footer-wrapper footer .inner .socSetiLogos .socSetiLogotip a i.twitter {
    padding-top: 5px;
    font-size: 15px;
    padding-right: 2px;
    line-height: 22px;
}

.body-wrapper .footer-wrapper .footer {
    text-align: center;
    position: relative;
    padding-bottom: 0;
    background-color: rgb(38, 38, 38);
    color: rgb(190, 190, 190);
    font-size: 14px;
}

.body-wrapper .footer-wrapper .footer .inner {
    padding-top: 20px;

    margin: 0 auto;
    padding: 37px 0px 30px 10px;
}