
.body-wrapper .content-wrapper .holder {
    margin-top: 100px;
}
.body-wrapper .content-wrapper .login-form-error {
    width: 500px;
    height: 25px;
    margin: 0px auto 0 auto;

    padding: 5px;

    background-color: rgb(255, 255, 255);
    color: rgb(255,103, 96);
    font-weight: 600;
    font-size: 18px;
    text-align: center;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.body-wrapper .content-wrapper .login-form {
    width: 290px;
    height: 370px;
    margin: 10px auto 70px auto;

    padding: 20px 40px 20px 40px;

    background-color: rgb(255, 255, 255);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


}

.body-wrapper .content-wrapper .login-form .header1 {
    font-weight: 800;
    font-size: 23px;
    margin-bottom: 10px;
}

.body-wrapper .content-wrapper .login-form .stroka .stroka-input {
    margin-top: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    background-color: rgb(250, 255, 189);
    width: 280px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding: 3px 5px 3px 5px;
}

.body-wrapper .content-wrapper .login-form .captcha-wrapper {
    margin: 10px 0px 10px -15px;
}

.body-wrapper .content-wrapper .login-form .stroka .regLink {
    margin-top: 15px;
}

.body-wrapper .content-wrapper .login-form .stroka .regLink a {
    text-decoration: none;
    color: rgb(255,103, 96);
    font-size: 18px;
    font-weight: 600;
}