html{ 
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

iframe {
    display: none;
}

#reformal_widget iframe {
    display: block;
}

.body-wrapper {
    background-color: rgb(237, 237, 237);
    min-width: 980px;
}

.body-wrapper .header-wrapper  {
    background-color: rgb(42, 42, 42);
    position: fixed;
    width: 100%;

}

.body-wrapper .header-wrapper .row {
    min-width: 960px;
    max-width: 1170px;
    margin: 0 auto;   
    padding-left: 10px;
    padding-right: 10px;
}

.body-wrapper .header-wrapper .row .logo-wrapper {
    display: inline-block;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-right: 170px;
}

.body-wrapper .header-wrapper .row .logo-wrapper img {
    width: 150px;
    height: 44px;
}

.body-wrapper .header-wrapper .row header .langs {
    padding-top: 20px;
    /*width: 75px;*/
    float: left;
}

.body-wrapper .header-wrapper .row header .langs a {
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-weight: bold;
}

.body-wrapper .header-wrapper .row header .langs a.up {
    color: rgb(255, 255, 255);
}

.body-wrapper .header-wrapper .row header .langs a.down {
    color: rgba(0, 0, 0, 0.5);
}

.body-wrapper .header-wrapper .row header .langs a img {
    width: 30px;
    float: left;    
    margin-right: 5px;
}

.body-wrapper .header-wrapper .row .nav-wrapper {
    float: right;
    width: 600px;
}

.body-wrapper .header-wrapper .row .nav-wrapper nav  ul {
    display: inline;
}

.body-wrapper .header-wrapper .row .nav-wrapper nav ul li {
    display: inline-block;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 20px;
    font-weight: 700;

    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    cursor: pointer;

}

.body-wrapper .header-wrapper .row .nav-wrapper nav ul li:hover {
    color: rgb(255,103, 96);
    box-shadow: inset rgb(255,103, 96) 0 -4px 0 0;
}

.body-wrapper .header-wrapper .row .nav-wrapper nav ul li.selected {
    color: rgb(255,103, 96);
    box-shadow: inset rgb(255,103, 96) 0 -4px 0 0;
}

.body-wrapper .header-wrapper .row .nav-wrapper nav ul li a.up {
    color: rgb(255, 255, 255);
    line-height: 97px;
    display: block;
    cursor: pointer;
}

.body-wrapper .header-wrapper .row .nav-wrapper nav ul li a.selected  {
    color: rgb(255,103, 96);
    text-decoration: none;
    line-height: 97px;
}

/*mouse over link*/
.body-wrapper .header-wrapper .row .nav-wrapper nav ul li a.up:hover  {
    color: rgb(255,103, 96);
    text-decoration: none;
    line-height: 97px;
}

/*unvisited link*/
.body-wrapper .header-wrapper .row .nav-wrapper nav ul li a.up:link {
    text-decoration: none;
    line-height: 97px;
}   

/*visited link*/
.body-wrapper .header-wrapper .row .nav-wrapper nav ul li a.up:visited {
    text-decoration: none;
    line-height: 97px;
}   
.body-wrapper .header-wrapper .row .nav-wrapper nav ul li a.down {
    color: rgba(0, 0, 0, 0.5);
    line-height: 97px;
    display: block;
    cursor: pointer;
}

/*mouse over link*/
.body-wrapper .header-wrapper .row .nav-wrapper nav ul li a.down:hover  {
    color: rgba(255,103, 96, 0.5);
    text-decoration: none;
    line-height: 97px;

}

/*unvisited link*/
.body-wrapper .header-wrapper .row .nav-wrapper nav ul li a.down:link {
    text-decoration: none;
    line-height: 82px;
}   

/*visited link*/
.body-wrapper .header-wrapper .row .nav-wrapper nav ul li a.down:visited {
    text-decoration: none;
    line-height: 82px;
}   

.body-wrapper .content-wrapper {
    min-width: 960px;
    max-width: 1170px;
    margin: 0 auto;   
    padding: 90px 10px 0 10px;
    min-height: 520px;
}

.body-wrapper .content-wrapper .redButton {
    -webkit-appearance: none;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: auto;
    -webkit-writing-mode: horizontal-tb;
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(229, 29, 76);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    height: 52px;
    letter-spacing: normal;
    line-height: 30px;   
    padding-bottom: 11px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 11px;
    text-align: center;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: 0px;
    writing-mode: lr-tb;
}

