
.icon-mail:before { content: '\e80f'; } /* '' */
.icon-skype-4:before { content: '\e81e'; } /* '' */
.icon-picture:before { content: '\e830'; } /* '' */
.icon-home:before { content: '\e82d'; } /* '' */
.icon-link:before { content: '\e844'; } /* '' */
.icon-unlink:before { content: '\e845'; } /* '' */
.icon-code:before { content: '\e848'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-direction:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e817'; } /* '' */
.icon-cog-alt:before { content: '\e835'; } /* '' */
.icon-block:before { content: '\e831'; } /* '' */
.icon-cw:before { content: '\e843'; } /* '' */
.icon-ccw:before { content: '\e842'; } /* '' */
.icon-strike:before { content: '\e83c'; } /* '' */
.icon-underline:before { content: '\e83b'; } /* '' */
.icon-floppy:before { content: '\e838'; } /* '' */
.icon-puzzle:before { content: '\e82e'; } /* '' */
.icon-skype-6:before { content: '\e820'; } /* '' */
.icon-mail-1:before { content: '\e810'; } /* '' */
.icon-left-dir:before { content: '\e847'; } /* '' */
.icon-skype-5:before { content: '\e81f'; } /* '' */
.icon-mail-2:before { content: '\e811'; } /* '' */
.icon-phone-1:before { content: '\e818'; } /* '' */
.icon-move:before { content: '\e832'; } /* '' */
.icon-skype-outline:before { content: '\e821'; } /* '' */
.icon-skype:before { content: '\e81a'; } /* '' */
.icon-mail-3:before { content: '\e812'; } /* '' */
.icon-left:before { content: '\e846'; } /* '' */
.icon-github-circled-alt2:before { content: '\e82a'; } /* '' */
.icon-android:before { content: '\e800'; } /* '' */
.icon-skype-2:before { content: '\e81b'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-gmail:before { content: '\e807'; } /* '' */
.icon-facebook-rect:before { content: '\e805'; } /* '' */
.icon-mail-alt:before { content: '\e815'; } /* '' */
.icon-twitter-bird:before { content: '\e825'; } /* '' */
.icon-vimeo:before { content: '\e826'; } /* '' */
.icon-vimeo-rect:before { content: '\e827'; } /* '' */
.icon-github-text:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\e82b'; } /* '' */
.icon-skype-1:before { content: '\e81c'; } /* '' */
.icon-icq:before { content: '\e808'; } /* '' */
.icon-jabber:before { content: '\e809'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */
.icon-linkedin-rect:before { content: '\e80c'; } /* '' */
.icon-win8:before { content: '\e828'; } /* '' */
.icon-mail-5:before { content: '\e813'; } /* '' */
.icon-phone-2:before { content: '\e819'; } /* '' */
.icon-bold:before { content: '\e839'; } /* '' */
.icon-italic:before { content: '\e83a'; } /* '' */
.icon-text-height:before { content: '\e83d'; } /* '' */
.icon-text-width:before { content: '\e82f'; } /* '' */
.icon-align-left:before { content: '\e83e'; } /* '' */
.icon-align-center:before { content: '\e83f'; } /* '' */
.icon-align-right:before { content: '\e840'; } /* '' */
.icon-align-justify:before { content: '\e841'; } /* '' */
.icon-skype-3:before { content: '\e81d'; } /* '' */
.icon-wordpress:before { content: '\e829'; } /* '' */
.icon-thumbs-up:before { content: '\e823'; } /* '' */
.icon-pencil:before { content: '\e834'; } /* '' */
.icon-trash:before { content: '\e833'; } /* '' */
.icon-params:before { content: '\e836'; } /* '' */
.icon-sound:before { content: '\e822'; } /* '' */
.icon-lightbulb:before { content: '\e80a'; } /* '' */
.icon-mobile:before { content: '\e816'; } /* '' */
.icon-beaker:before { content: '\e801'; } /* '' */
.icon-mail-4:before { content: '\e814'; } /* '' */
.icon-cancel:before { content: '\e837'; } /* '' */
.icon-plus-circle:before { content: '\e82c'; } /* '' */
.icon-location-1:before { content: '\e80d'; } /* '' */
.icon-twitter:before { content: '\e824'; } /* '' */