.body-wrapper .content-wrapper .landingsList{
    margin-top: 25px;
}
.body-wrapper .content-wrapper .landingsList .buttonHolder {
    margin-bottom: 30px;
    position: relative;
}

.body-wrapper .content-wrapper .landingsList .landing {
    width: 365px;
    height: 200px;
    background-color: rgb(255,255,255);
    padding: 15px;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    float: left;
    
    margin-right: 20px;
}

.body-wrapper .content-wrapper .landingsList .landing .landing-id-div {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.body-wrapper .content-wrapper .landingsList .landing .edit-button-holder {
    margin-top: 15px;

}