html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px 0px 0px 0px;
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*Iframe scrollbars*/

iframe::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
    background-color: #F5F5F5;
}

iframe::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

iframe::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.body-wrapper {
    background-color: rgb(237, 237, 237);
    min-width: 980px;
    height: 100%;
}

.body-wrapper .header-wrapper {
    height: 35px;
    width: 100%;
    background-color: rgb(42, 42, 42);
}

.body-wrapper .header-wrapper .row header .home-logo-wrapper  {
    margin: 0px 0 10px 15px;
    font-size: 25px;
    width: 30px;
    float: left;
}

.body-wrapper .header-wrapper .row header .home-logo-wrapper a {
    text-decoration: none;
    color: rgb(255,103, 96);
}

.body-wrapper .header-wrapper .row header .nav-wrapper {
    float: left;
    height: 30px;
    padding-right: 30px;
}

.body-wrapper .header-wrapper .row header .nav-wrapper a#savePageButton {
    margin-top: 3px;
    margin-left: 50px;
}

.body-wrapper .header-wrapper .row header .langs div {
    float: left;
    padding-top: 3px;
    padding-right: 20px;
}

.body-wrapper .header-wrapper .row header .langs a {
    color: rgb(255, 255, 255);    
}

.body-wrapper .header-wrapper .row header .langs a img {
    width: 30px;
    float: left;    
    margin-right: 5px;
}

.body-wrapper .header-wrapper .row header .undoButton {
    color: rgb(255, 103, 96);
    font-size: 20px;
    cursor: pointer;
}

.body-wrapper .header-wrapper .row header .nav-wrapper .redButton {
    -webkit-appearance: none;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: auto;
    -webkit-writing-mode: horizontal-tb;
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(229, 29, 76);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 30px;
    letter-spacing: normal;
    line-height: 20px;   
    padding: 3px 5px 3px 5px;
    text-align: center;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    word-spacing: 0px;
}

.body-wrapper .delimiter-one {
    height: 20px;
    width: 100%;
    background-color: rgb(97, 97, 97);
}


.body-wrapper  .left-side-wrapper-main {
    height: 90%;
    float: left;
    position: absolute;
    z-index: 100;
}

.body-wrapper  .left-side-wrapper-main .left-side-wrapper {
    height: 100%;
    width: 60px;
    background-color: rgb(97, 97, 97);
    left: 0;
    color: rgb(255,103, 96);
    text-align: center;
    padding: 10px 0;
    z-index: 1;
    float: left;
}

.body-wrapper  .left-side-wrapper-main .left-side-wrapper .left-side-vertical-list {
    list-style: none;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 43px;
}

.body-wrapper  .left-side-wrapper-main .left-side-wrapper .left-side-vertical-list li {
    margin: 0px 0 10px 0;
}

.body-wrapper  .left-side-wrapper-main .left-side-wrapper .left-side-vertical-list li a {
    text-decoration: none;
    color: rgb(255,103, 96);
}

.body-wrapper .left-side-wrapper-main .left-side-wrapper .left-side-vertical-list li a:hover i {
    text-decoration: none;
    background-color: rgb(42, 42, 42);    
}

.body-wrapper .left-side-wrapper-main .popup {
    display: none;
    font-size: 14px;
    font-weight: bold;
    z-index: 70;
    float: left;
    left: 60px;
    top: -40px;
    position: relative;
    width: 160px;
    text-align: left;    
    height: 20px;
}

.body-wrapper .left-side-wrapper-main .popup i {
    display: inline;
    color: rgb(42, 42, 42);
    font-size: 25px;
    float: left;
    margin-top: -5.5px;
    margin-left: -14px;
    /*margin-right: -42px;*/
}

.body-wrapper .left-side-wrapper-main .popup .popupText{
    padding: 5px 7px 5px 7px;
    background-color: rgb(42, 42, 42);
    display: inline;
    margin-left: -12px;
    line-height: 25px;

}

.body-wrapper  .left-side-wrapper-main .left-side-slide-absolute {
    position: absolute;
    width: 0;
    height: 100%;
    display: none;
}

.body-wrapper  .left-side-wrapper-main .left-side-slide-absolute .left-side-slide-wrapper {
    height: 100%;
    left: 60px;
    position: absolute;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background: rgb(255,255,255);
    width: 72px;
}

.body-wrapper  .left-side-wrapper-main #settingsListHolder .left-side-slide-wrapper  {
    width: 90px;
}

.body-wrapper  .left-side-wrapper-main #settingsListHolder .left-side-slide-wrapper .backgroundColorPickerButton, .textColorPickerButton {
    width: 90px;
    height: 30px;
    border: 1px solid black;
}

.body-wrapper .left-side-wrapper-main .left-side-slide-absolute .left-side-slide-wrapper .holder {
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 7px;
    z-index: 70;
}

.body-wrapper .left-side-wrapper-main .left-side-slide-absolute .left-side-slide-wrapper .holder a {
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    width: 60px;
    font-size: 40px;
}

.body-wrapper .left-side-wrapper-main .left-side-slide-absolute .left-side-slide-wrapper .holder a i {
    color: rgb(97, 97, 97);
}

.body-wrapper .left-side-wrapper-main .left-side-slide-absolute .left-side-slide-wrapper .holder a:hover i {
    background-color: rgb(42, 42, 42);    
    color:  rgb(255, 103, 96);
}

.body-wrapper .left-side-wrapper-main .left-side-slide-absolute .left-side-slide-wrapper .popup {
    z-index: 100;
    width: 150px;
    color: rgb(255, 103, 96);
}


.body-wrapper .content-wrapper {
    width: 100%;
    height: 87%;
    float: left;
    position: relative;
    z-index: 0; /*Для draggable z-index должен быть больше 0 */
}

.body-wrapper .content-wrapper iframe#landing {
    width: 100%;    
}


/*TESTS !!!*/


.ui-resizable-ne {
    webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(1, 174, 240);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: rgb(1, 174, 240);
    cursor: ne-resize;
    display: block;
    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
    font-weight: 300;
    height: 10px !important;
    line-height: 24px;
    pointer-events: all;
    text-decoration: none solid rgb(1, 174, 240);
    width: 10px !important;
    z-index: 2;

    top: -5px !important;
    right: -5px !important;

}

.ui-resizable-se {
    webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(1, 174, 240);
    background-image: none !important;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: rgb(1, 174, 240);
    cursor: se-resize;
    display: block;
    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
    font-weight: 300;
    height: 10px !important;
    line-height: 24px;
    pointer-events: all;
    text-decoration: none solid rgb(1, 174, 240);
    width: 10px !important;
    z-index: 2;

    bottom: -5px !important;
    right: -5px !important;
}

.ui-resizable-sw {
    webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(1, 174, 240);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: rgb(1, 174, 240);
    cursor: sw-resize;
    display: block;
    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
    font-weight: 300;
    height: 10px !important;
    line-height: 24px;
    pointer-events: all;
    text-decoration: none solid rgb(1, 174, 240);
    width: 10px !important;
    z-index: 2;

    bottom: -5px !important;
    left: -5px !important;

}

.ui-resizable-nw {
    webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(1, 174, 240);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: rgb(1, 174, 240);
    cursor: nw-resize;
    display: block;
    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
    font-weight: 300;
    height: 10px !important;
    line-height: 24px;
    pointer-events: all;
    text-decoration: none solid rgb(1, 174, 240);
    width: 10px !important;
    z-index: 2;

    top: -5px !important;
    left: -5px !important;

}

/*END OF TESTS !!!*/


.colorpicker {
    z-index: 100;
    
}