html {
    width: 100%;
     height: 1px;
    min-height: 100%; 
}
body {
    min-height: 100%; 
    /*min-height: 500px;*/ 
    /*min-height: 768px;*/ 
    width: 100%;
    /*border: 1px solid black;*/
}

.ui-resizable-ne {
    webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(1, 174, 240);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: rgb(1, 174, 240);
    cursor: ne-resize;
    display: block;
    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
    font-weight: 300;
    height: 10px !important;
    line-height: 24px;
    pointer-events: all;
    text-decoration: none solid rgb(1, 174, 240);
    width: 10px !important;
    z-index: 2;

    top: -5px !important;
    right: -5px !important;

}

.ui-resizable-se {
    webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(1, 174, 240);
    background-image: none !important;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: rgb(1, 174, 240);
    cursor: se-resize;
    display: block;
    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
    font-weight: 300;
    height: 10px !important;
    line-height: 24px;
    pointer-events: all;
    text-decoration: none solid rgb(1, 174, 240);
    width: 10px !important;
    z-index: 2;

    bottom: -5px !important;
    right: -5px !important;
}

.ui-resizable-sw {
    webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(1, 174, 240);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: rgb(1, 174, 240);
    cursor: sw-resize;
    display: block;
    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
    font-weight: 300;
    height: 10px !important;
    line-height: 24px;
    pointer-events: all;
    text-decoration: none solid rgb(1, 174, 240);
    width: 10px !important;
    z-index: 2;

    bottom: -5px !important;
    left: -5px !important;

}

.ui-resizable-nw {
    webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(1, 174, 240);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: rgb(1, 174, 240);
    cursor: nw-resize;
    display: block;
    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
    font-weight: 300;
    height: 10px !important;
    line-height: 24px;
    pointer-events: all;
    text-decoration: none solid rgb(1, 174, 240);
    width: 10px !important;
    z-index: 2;

    top: -5px !important;
    left: -5px !important;

}

// Upload form
.uploadFormDivMain {
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 2000000;    
}

.uploadFormDivMain .uploadFormDiv {
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    z-index: 20000000;
    background-color: white;
}

.uploadFormDivMain .uploadFormDiv .closeUploadFormDiv {
    right: 0px;
    top: 0px;
    float: right;
    cursor: pointer;
}

.uploadFormDivMain .uploadFormDiv .uploadFormDivDropbox {
    width: 500px;
    height: 100%;
    background-color: rgb(97, 97, 97);
    overflow-y: auto;
}

.uploadFormDivMain .uploadFormDiv .uploadFormDivDropbox .spanInfoText {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    top: 40%;
    color: rgb(255,103, 96);
}

.uploadFormDivMain .uploadFormDiv .uploadFormDivDropbox .preview {
    float: left;
    margin: 10px;
}

.uploadFormDivMain .uploadFormDiv .uploadFormDivDropbox .preview .previewCloseAndDelete{
    right: 0px;
    top: 0px;
    float: right;
    cursor: pointer;
    color: rgb(255,103, 96);
}

.uploadFormDivMain .uploadFormDiv .uploadFormDivDropbox .preview .imageHolder {
    max-height: 110px;
    max-width: 110px;
}

.uploadFormDivMain .uploadFormDiv .uploadFormDivDropbox .preview .imageHolder img {
    max-height: 110px;
    max-width: 110px;
}

// Link form
.linkFormMain {
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 2000000;    
}

.linkFormMain .linkForm {
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    z-index: 20000000;
    background-color: white;
}

.linkFormMain .linkForm .closeLinkForm {
    right: 0px;
    top: 0px;
    float: right;
    cursor: pointer;
}

.linkFormMain .linkForm .containerDiv {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.editableText {
    height: 100%;
    width: 100%;
}