.esContainer {
  border: 1px solid black;
  border-left: 2px solid black;
  z-index: 700000;
}
.esItem {
  background: white;
}
.esItemHover {
  background: blue;
}
.esTextBox {
  background: url(arrow.png) 98% 50% no-repeat;
  background-color: rgb(255,255,255);
}